 *{margin: 0;padding: 0;box-sizing: border-box;}
body{font: 1em sans-serif; padding:10px}
.container{max-width:1140px;padding:0 10px;margin:0 auto}
p{margin:0 0 20px;}
figure{border:1px solid #ccc;margin:0 0 20px}
figure img{display: block;width:100%; height:auto}
